.EventCard{
    min-width: 80vw;
    /* height: 25vmin; */
    /* background: linear-gradient(rgb(177, 253, 62),yellow); */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.432);
}
.EventCard .EventName {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
}
.EventCard .EventDescription {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2px;
    font-size: 1.05rem;
}
.users{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.users .user {
    background-color: rgba(0, 0, 0, 0.4);
    height: 30vmin;
    width: 40vmin !important;
    margin-top: 5px;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
}
.users .user .name{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 5px;
}
.users .user .req {
    
    font-size: 0.9rem;
}
.users .user button{
    background-color: rgba(0, 0, 0, 0);
    float: right;
    padding-right: 10px ;
    
}
.Eventrequests{
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Eventrequests h1{
    font-size: 50px;
    text-decoration: underline;
    color: white;
}
@media screen and (max-width: 768px) {
    .Eventrequests{
        padding-top: 170px;
    }
  }
  