/* @import url('http://fonts.cdnfonts.com/css/century-gothic'); */

.form-box1 {
  /* width: 85%; */
  height: 100%;
  /* margin: 3em auto; */
  background: transparent;
  /* padding: 1rem 3rem; */

  overflow: hidden;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}

.close-btn-signin-1 {
  color: #dcb07d;
  z-index: 1000;
  background-color: transparent;
  width: 50px;
  height: 40px;
  border: none;
  padding: 0px;
  font-size: 1.7em;


}

#close-btn-signin-11 {
  opacity: 0;
}

.form-sigin-heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);

  align-items: center;
  padding: 0px 10px;
  /* width: 90%; */
}

.signin {
  width: 100%;
  margin: 10px auto;
}

.sigin-content-container {
  background-color: rgba(0, 0, 0, 0.9);



}

.sigin-content-container-2 {
  padding: 10px 15px;

  margin: 10px 0px;

}

#sign-in-button-id {
  margin: 10px auto;
  padding: 10px 20px;
  /* width: 100px; */
}

.form-box1 h2 {
  text-align: center;
  background-image: linear-gradient(to left bottom,
 #dcb07d,
      rgb(255, 255, 255));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  /* padding: 0 1em 1rem 1em; */
  width: 100%;
  margin: 0;
  /* margin-bottom: 30px; */
  margin: 15px 20px;
  padding: 0px 10px;
  font-family: "RoashePersonalUse-jEa4M";
  letter-spacing: 2px;
}

.signin p {
  color: rgb(255, 0, 0);
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0em;
  font-size: 0.7em;

}

.signin .inputfield {
  background: none;
  border: none;
  outline: none;
  padding: 6px;
  /* height: 40px; */
  /* outline: 2px solid #008970; */
  border-bottom: 2px solid #ffffffa3;
  display: flex;
  align-items: center;
  /* width: 95%; */
  margin: 1em 0px 0em 0px;
  justify-content: space-between;

}



.signin .inputfield input {
  background: transparent;
  border: none;
  outline: none;
  float: right;
  font-size: 13px;
  color: rgb(208, 224, 246);
  transition: all 0.3s;
  /* margin-left: 10px; */
  width: 70%;
  text-align: right;

}

.signin .inputfield label {
  position: relative;
  font-family: 'Century Gothic', sans-serif;
  margin: 2px 2px 2px 0px;
  padding: 0px 2px;
  left: 0;
  color: #ffffffb9;
  font-size: 15px;
  pointer-events: none;
  float: right;
}

.signin .inputfield span {
  position: absolute;
  float: left;
  margin-left: 0px;
  margin-right: 2px;
  /* margin-bottom: 0px; */
  color: #dcb07d;
}

.signin .sgnbutton {
  margin: 1em auto;
}

@media only screen and (max-width: 450px) {
  .form-box1 {
    /* margin-top: 60px; */
    /* padding: 1rem; */
    margin: 0px;
    padding: 0px;
  }

  .signin .inputfield {
    margin: 1em 0px 0em 0px;
  }

  .signin .sgnbutton {
    margin: 1em auto 0 auto;
  }
}

#signin-password {
  margin-bottom: 0px;
}