.login-form {
    width: 40vw;
    /* min-height: 40vh; */
    background-color: transparent;
    padding: 3%;
    position: relative;
    border-radius: 5%;
}

.inputfield {
    display: flex;
    justify-content: space-between;
}

.inputfield input {
    background: none;
    border-bottom: 1px solid black;
}

.inputfield::placeholder {
    color: black;
}

.login {
    background-color: white;
    width: 14vmin;
    height: 8vmin;
    font-size: larger;
    border-radius: 5%;
    margin-top: 5%;
    color: black;
}

.privacy-eye {
    position: absolute;
    margin: 4px 2px 0px 0px;
    right: 3vw;
    color: rgb(0, 0, 0);
}

.signup {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
    .inputfield label {
        display: none;
    }

    .inputfield {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.login-modal-button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: #fe8121;
    border: none;
    z-index: 1;
    position: relative;
    color: black;
}
.sigin-field input{
    margin: 10px 0px 10px 0px ;
}

.login-modal-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #d5ff3d;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.login-modal-button:hover {
    color: black
}

.login-modal-button:hover:after {
    left: 0;
    width: 100%;
}

.login-modal-button:active {
    top: 2px;
}