.login-form {
    width: 40vw;
    min-height: 40vh;
    background-color:transparent;
    padding: 3%;
    position: relative;
    border-radius: 5%;
}

.inputfield label{
    float: left;
}
.inputfield input{
    float: right;
    min-width: 50%;
}
.login{
    background-color: white;
    width: 6vw;
    height: 5vh;
    border-radius: 5%;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}
.privacy-eye{
    position: absolute;
    margin: 4px 2px 0px 0px;
    right: 3vw;
    color: rgb(122, 122, 207);
}

.signup{
    background-color: white;
    width: 15vmin;
    height: 4vmin;
    border-radius: 5%;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}