.Posted-Events-Parent {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Posted-Events-Parent h1 {
    font-size: 50px;
    text-decoration: underline;
    color: white;
}
.event {
    padding: 1em;
    margin: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    width: 90%;
    gap: 0.5em;
}

.event h2 {
    font-size: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.parent {
  /* height: 400px; */
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 90px;
  transform-style: preserve-3d;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(189, 161, 3, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffdd00;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #ffff00b5 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box span {
  display: block;
  text-align: center;
}
.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #ffdd00;
}
.see-more{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .Posted-Events-Parent {
        padding-top: 170px;
    }
}