@font-face {
  font-family: "RoashePersonalUse-jEa4M";
  src: local("RoashePersonalUse-jEa4M"), url("../font/RoashePersonalUse-jEa4M.otf") format("opentype");
}
@import url('http://fonts.cdnfonts.com/css/century-gothic');
.sgnmodalBackground {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #46331ecf;
    display: flex;
    justify-content: center;
    align-items: center;                                     
    position: fixed;                                                                                                  
    inset: 0;
    z-index: 50;
  }                                                                        
.sgnmodalContainer {
  /* border-radius: 12px; */

  padding: 0;
  margin: 0;
  position: relative;
  max-height: 75%;
  overflow-y: scroll;
  /* display: flex; */
  /* width: 30%; */
  /* justify-content: center;*/
  /* align-items: center;  */

  background-color: rgba(0, 32, 46, 0);
}

.sgnmodalclose {
  /* display: flex;
    justify-content: flex-end; */
  color: white;
  z-index: 1000;
  background-color: transparent;
  height: 10px;
}

.sgnmodalclose button {
  position: absolute;
  right: 1.5em;
  top: 2em;
  /* color: #008970; */
  color: #dcb07d;
  font-size: 20px;
  cursor: pointer;
  transition: all.2s;
  z-index: 1000;
}

.sgnmodalclose button:hover {
  transform: scale(1.1);
  /* color: rgb(179, 242, 246); */
  color: #dcb07d;
}
.sgnmodalContainer::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 39, 50, 0.137);
  border-radius: 10px;
}

.sgnmodalContainer::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  width: 5px;
}

.sgnmodalContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.267);
  border-radius: 10px;
}
.sgnmodalContainer h4 {
  color: rgb(193, 190, 190);
  text-align: center;
}
.sgnmodalContainer h4 span {
  /* color: #99eedf; */
  color: #dcb07d;
  cursor: pointer;
  font-weight: 500;
  transition: all.2s;
}
.sgnmodalContainer h4 span:hover {
  color: #008970;
}
.sgnbutton {
  /* width: 43%; */
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 1em auto 1em auto;
  color: #ffffffb9;
  font-weight: 800;
  border: 0;
  /* outline: 3px solid #008970; */
  text-transform: uppercase;
  font-size: 100%;
  transition: all 0.6s;
  border-radius: 3px;
  border-bottom: 3px solid rgb(255, 255, 255);
  /* background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #99eedf 50%
  ); */
  background: transparent;
  background-size: 230%;
  margin: 0px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 17px;
}
#signupm {
  margin: 0 auto;
}
.forgot-password-question
{
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  margin: 0px auto;
  transform: translateY(-10px);
}
#fp{
  margin: 0px;
  cursor: pointer;
  color: #dcb07d;
  font-family: 'Century Gothic', sans-serif;
  padding: 10px;
}
#fp:hover{
  color: #d3934a;
}
@media only screen and (min-width: 400px) {
  .sgnbutton:hover {
    /* background-position: 100% center; */
    /* outline: 3px ridge rgb(119, 204, 243); */
    color: #dcb07d;
    /* box-shadow: rgba(118, 116, 116, 0.882) 1px 2px 4px; */
    /* transform: scale(1.18); */
  }
}

@media only screen and (max-width: 470px) {
  .sgnmodalContainer {
    width: 90%;
    margin: 0px auto;
    padding: 0px auo;
    /* height: 67%; */
  }
  .sgnbutton {
    color: #ffffffb9;
    /* background-color: rgba(167, 241, 253, 0); */
  }
}
@media only screen and (max-width: 370px) {
  .sgnmodalContainer {
    width: 90%;
    /* height: 60%; */
  }
}


.form-question-container
{
  background-color: rgba(0, 0, 0, 0.9);

  padding: 0.5px 0px;
  margin: 0px 16px;
  transform: translateY(-16px);
}
.form-question-container h4
{
  margin: 10px 0px;
}

.form-question-container-2
{
  background-color: rgba(0, 0, 0, 0.9);

  padding: 0.5px 0px;
  margin: 0px 16px;
  transform: translateY(-8px);
}
.form-question-container-2 h4
{
  margin: 12px 0px;
}
